<div>

<div>

APID search and share
<div>





<div>
<h2>APID Connections</h2>
</div>
<div>
APID
        


</div>
<div>
Name
        


</div>
<div>
Designation
        


</div>
<div>
Institute
        


</div>
<div>
Email
        


</div>

<div>
Search
</div></div>

</div>

</div>
<div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85728</h2>
</div>
<div>
<p><img src="/static/apid/images/f44fe4d6ac7b.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Assistant Professor</p>
<p>Department : department of <a href="/apid-profiles/apid/85728">…</a></p>
<p>Affilation : Pandit Deendayal <a href="/apid-profiles/apid/85728">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85728">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85724</h2>
</div>
<div>
<p><img src="/static/apid/images/70e6b082be5a.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Professor</p>
<p>Department : Animal producation</p>
<p>Affilation : kufa iraq<br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85724">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85721</h2>
</div>
<div>
<p><img src="/static/apid/images/12866fd5edfe.png"/></p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Professor</p>
<p>Department : Turfloop Graduate <a href="/apid-profiles/apid/85721">…</a></p>
<p>Affilation : University of <a href="/apid-profiles/apid/85721">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85721">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85719</h2>
</div>
<div>
<p><img src="/static/apid/images/f11ce65bd91a.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Lecturer</p>
<p>Department : Medical Physiology <a href="/apid-profiles/apid/85719">…</a></p>
<p>Affilation : Northern Technical <a href="/apid-profiles/apid/85719">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85719">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85707</h2>
</div>
<div>
<p><img src="/static/apid/images/12866fd5edfe.png"/></p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Senior Lecturer</p>
<p>Department : Azman Hashim <a href="/apid-profiles/apid/85707">…</a></p>
<p>Affilation : International Islamic <a href="/apid-profiles/apid/85707">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85707">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85702</h2>
</div>
<div>
<p><img src="/static/apid/images/ffc66ba2dbd0.avif"/> </p>
<div>
<h3></h3>
<div><a href="/my-followers/">Followers : 1</a></div>
<p>Designation : Professor</p>
<p>Department : CHEMISRY</p>
<p>Affilation : UNIVERSITY OF <a href="/apid-profiles/apid/85702">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85702">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85693</h2>
</div>
<div>
<p><img src="/static/apid/images/12866fd5edfe.png"/></p>
<div>
<h3></h3>
<div><a href="/my-followers/">Followers : 1</a></div>
<p>Designation : Professor</p>
<p>Department : Constitutional Law</p>
<p>Affilation : Saveetha School <a href="/apid-profiles/apid/85693">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85693">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85690</h2>
</div>
<div>
<p><img src="/static/apid/images/041422d7d276.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Senior Lecturer</p>
<p>Department : EDUCATION STUDIES <a href="/apid-profiles/apid/85690">…</a></p>
<p>Affilation : Apeejay Stya <a href="/apid-profiles/apid/85690">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85690">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85678</h2>
</div>
<div>
<p><img src="/static/apid/images/6b160dca4513.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Research Scientist</p>
<p>Department : Department of <a href="/apid-profiles/apid/85678">…</a></p>
<p>Affilation : Jawaharlal Institute <a href="/apid-profiles/apid/85678">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85678">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85668</h2>
</div>
<div>
<p><img src="/static/apid/images/12866fd5edfe.png"/></p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Assistant Professor</p>
<p>Department : Mechanical Engineering</p>
<p>Affilation : Anna Universitty<br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85668">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85658</h2>
</div>
<div>
<p><img src="/static/apid/images/52e0facce692.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Professor</p>
<p>Department : Department of <a href="/apid-profiles/apid/85658">…</a></p>
<p>Affilation : University of <a href="/apid-profiles/apid/85658">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85658">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85642</h2>
</div>
<div>
<p><img src="/static/apid/images/727d57cf063d.avif"/> </p>
<div>
<h3>Muneer Ahmad</h3>
<div>Follower: <span>0</span></div>
<p>Designation : Associate Professor</p>
<p>Department : The Iddi <a href="/apid-profiles/apid/85642">…</a></p>
<p>Affilation : Annamalai University<br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85642">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85603</h2>
</div>
<div>
<p><img src="/static/apid/images/e607353b57e1.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Senior Lecturer</p>
<p>Department : Biotechnology and <a href="/apid-profiles/apid/85603">…</a></p>
<p>Affilation : Stellenbosch University<br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85603">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85581</h2>
</div>
<div>
<p><img src="/static/apid/images/55ded3839fd2.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Senior Lecturer</p>
<p>Department : Mechanical Engineering <a href="/apid-profiles/apid/85581">…</a></p>
<p>Affilation : University Of <a href="/apid-profiles/apid/85581">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85581">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85569</h2>
</div>
<div>
<p><img src="/static/apid/images/f237201ac443.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Lecturer</p>
<p>Department : Faculty of <a href="/apid-profiles/apid/85569">…</a></p>
<p>Affilation : Vinh Long <a href="/apid-profiles/apid/85569">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85569">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85565</h2>
</div>
<div>
<p><img src="/static/apid/images/12866fd5edfe.png"/></p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Professor</p>
<p>Department : Animal Science <a href="/apid-profiles/apid/85565">…</a></p>
<p>Affilation : Chattogram Veterinary <a href="/apid-profiles/apid/85565">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85565">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85548</h2>
</div>
<div>
<p><img src="/static/apid/images/de5b278b3c52.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Lecturer</p>
<p>Department : Plantation &amp; <a href="/apid-profiles/apid/85548">…</a></p>
<p>Affilation : University of <a href="/apid-profiles/apid/85548">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85548">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85536</h2>
</div>
<div>
<p><img src="/static/apid/images/12866fd5edfe.png"/></p>
<div>
<h3>Behzad Abedi</h3>
<div>Follower: <span>0</span></div>
<p>Designation : Assistant Professor</p>
<p>Department : Neuroscience Research <a href="/apid-profiles/apid/85536">…</a></p>
<p>Affilation : Shahid Beheshti <a href="/apid-profiles/apid/85536">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85536">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85518</h2>
</div>
<div>
<p><img src="/static/apid/images/c42851ef471b.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Assistant Professor</p>
<p>Department : Department of <a href="/apid-profiles/apid/85518">…</a></p>
<p>Affilation : Arabian Gulf <a href="/apid-profiles/apid/85518">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85518">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85508</h2>
</div>
<div>
<p><img src="/static/apid/images/b82d282bf9ee.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Assistant Professor</p>
<p>Department : Educational Psychologist</p>
<p>Affilation : University of <a href="/apid-profiles/apid/85508">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85508">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85487</h2>
</div>
<div>
<p><img src="/static/apid/images/51dcd2f3bc20.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Professor</p>
<p>Department : Department of <a href="/apid-profiles/apid/85487">…</a></p>
<p>Affilation : Indian Institute <a href="/apid-profiles/apid/85487">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85487">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85483</h2>
</div>
<div>
<p><img src="/static/apid/images/12866fd5edfe.png"/></p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Assistant Professor</p>
<p>Department : Faculty of <a href="/apid-profiles/apid/85483">…</a></p>
<p>Affilation : Saint Joseph <a href="/apid-profiles/apid/85483">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85483">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85476</h2>
</div>
<div>
<p><img src="/static/apid/images/d79ece51b838.avif"/> </p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Senior Lecturer</p>
<p>Department : Chemical Engineering</p>
<p>Affilation : Cape Peninsula <a href="/apid-profiles/apid/85476">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85476">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
<div>
<div>
<div>

<div>
<div>
<div>
<h2>APID : 85472</h2>
</div>
<div>
<p><img src="/static/apid/images/12866fd5edfe.png"/></p>
<div>
<h3></h3>
<div>Follower: <span>0</span></div>
<p>Designation : Adjunct Professor</p>
<p>Department : Department of <a href="/apid-profiles/apid/85472">…</a></p>
<p>Affilation : St Nicholas <a href="/apid-profiles/apid/85472">…</a><br/>
</p></div>
</div>
<p><a href="/apid-profiles/apid/85472">See Profile</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
<ul>
<li><a href="/wp-json/wp/v2/pages?slug=apid-profiles&amp;_fields=id%2Cslug%2Ctitle%2Ccontent%2Clink%2Cstatus&amp;frm-page-18005=1">1</a></li>
<li><a href="/wp-json/wp/v2/pages?slug=apid-profiles&amp;_fields=id%2Cslug%2Ctitle%2Ccontent%2Clink%2Cstatus&amp;frm-page-18005=2">2</a></li>
<li><a href="/wp-json/wp/v2/pages?slug=apid-profiles&amp;_fields=id%2Cslug%2Ctitle%2Ccontent%2Clink%2Cstatus&amp;frm-page-18005=3">3</a></li>
<li>…</li>
<li><a href="/wp-json/wp/v2/pages?slug=apid-profiles&amp;_fields=id%2Cslug%2Ctitle%2Ccontent%2Clink%2Cstatus&amp;frm-page-18005=211">211</a></li>
<li><a href="/wp-json/wp/v2/pages?slug=apid-profiles&amp;_fields=id%2Cslug%2Ctitle%2Ccontent%2Clink%2Cstatus&amp;frm-page-18005=2">»</a></li>
</ul>
</div>