<h2></h2>
<h4>For Authors</h4>
<h5>Eligibility</h5>
<ul>
<li><span>Substantial contributions to conception and design, acquisition of data, or analysis and interpretation of data.</span></li>
<li><span>Drafting the article or revising it critically for important intellectual content.</span></li>
<li><span>Final approval of the version to be published.</span></li>
<li><span>Agreement to be accountable for all aspects of the work in ensuring that questions related to the accuracy or integrity of any part of the work are appropriately investigated and resolved.</span></li>
</ul>
<h5>Responsibilities</h5>
<ul>
<li><span>Review submitted manuscripts.</span></li>
<li><span>Advise on journal policy and scope.</span></li>
<li><span>Identify topics for special issues, which your can guest edit.</span></li>
<li><span>Attract talented authors and submissions.</span></li>
<li><span>Promote the journal to your colleagues and peers.</span></li>
<li><span>Assist the editor(s) in decision-making over issues such as plagiarism claims and submissions.</span></li>
</ul>
<h5>Benefits</h5>
<ul>
<li><span>Enhance academic influence and enrich your resume</span></li>
<li><span>Receive a Certificate for acknowledging your contributions to the journal.</span></li>
<li><span>Get your name listed on the journal website.</span></li>
<li><span>Get access to the latest research in advance as well as the most relevant contacts in your field.</span></li>
<li><span>Get to know other scholars in your field and broaden academic connectivity.</span></li>
<li><span>Enjoy special offers on Article Processing Charges.</span></li>
</ul>
<h4>For Corresponding Authors</h4>
<h5>Eligibility</h5>
<ul>
<li><span>The corresponding author should be one who has done most of the work.</span></li>
<li><span>The corresponding Author should be able to carry out corrections advised by the reviewers.</span></li>
<li><span>The corresponding author is the person who has complete knowledge of the study and provides intellectual supervision as well as the ability to reply to the queries of readers.</span></li>
</ul>
<h5>Responsibilities</h5>
<ul>
<li><span>Responsible for the manuscript as it moves through the entire publication process</span></li>
<li><span>The “timekeeper” during each phase of the publication process</span></li>
<li><span>The primary contact between the journal and all the other authors of the paper</span></li>
<li><span>Responsible for ensuring that all authors have reviewed and approved the final version of the manuscript before submission</span></li>
<li><span>The person who uploads the manuscript to the online submission site, or sends it to the journal for peer review</span></li>
<li><span>Responsible for distributing communications from the journal (e.g., decision letters, reviewers’ reports).</span></li>
</ul>
<h5>Benefits</h5>
<ul>
<li><span>Enhance academic influence and enrich your resume.</span></li>
<li><span>Receive a certificate acknowledging your contributions to the journal.</span></li>
<li><span>Get your name listed on the journal website.</span></li>
<li><span>Get access to the latest research in advance as well as the most relevant contacts in your field.</span></li>
<li><span>Get to know other scholars in your field and broaden academic connectivity.</span></li>
<li><span>Enjoy special offers on Article Processing Charges.</span></li>
</ul>
<h4>For Editorial Board Members</h4>
<h5>Editor’s in Chief</h5>
<h5>Eligibility</h5>
<ul>
<li><span>Ph.D. or proven experience in the area of current and future sciences.</span></li>
<li><span>Must have at least 5/10 years of experience in a specific area of Science after earning the Ph.D./Master’s Degree. </span></li>
<li><span>Minimum 13+ years of teaching experience</span></li>
<li><span>At least 10 International Research paper publications.</span></li>
<li><span>Have a track record of managing editorial teams.</span></li>
<li><span>Capable leader with good writing and research abilities.</span></li>
<li><span>Quite good at interacting with people and communicating.</span></li>
</ul>
<h5>Responsibilities</h5>
<ul>
<li><span>Hiring and developing writers, junior editors, and senior editors.</span></li>
<li><span>Approving the publication’s layout, design, style, and tone.</span></li>
<li><span>Develop editorial boards for upcoming publications, issues, and campaigns in close collaboration with the team.</span></li>
<li><span>Make final judgements regarding which articles, images, and graphs to publish.</span></li>
<li><span>Reviewing written content for spelling and grammar errors.</span></li>
<li><span>Ensuring that all copies adhere to the editorial approach and have the appropriate voice, context, balance, and clarity.</span></li>
<li><span>Fact-checking information in articles and stories</span></li>
<li><span>Providing suggestions for edits when needed</span></li>
<li><span>Writing editorial pieces to contribute to the publication</span></li>
<li><span>Developing and managing budgets for the editorial team</span></li>
<li><span>Attending meetings with the publisher or publication board to discuss issues and plans for the publication</span></li>
</ul>
<h5>Benefits</h5>
<ul>
<li><span>Enhance your academic influence and enrich your resume.</span></li>
<li><span>Receive a Certificate for acknowledging your contributions to the journal.</span></li>
<li><span>Get your name listed on the journal website.</span></li>
<li><span>Get access to the latest research in advance as well as the most relevant contacts in your field.</span></li>
<li><span>Get to know other scholars in your field and broaden academic connectivity.</span></li>
</ul>
<h4>Editor</h4>
<h5>Eligibility</h5>
<ul>
<li><span>Ph.D. or proven experience in the area of current and future sciences.</span></li>
<li><span>Must have at least 5/10 years of experience in a specific area of Science after earning the Ph.D./Master’s Degree. </span></li>
<li><span>Minimum 13+ years of teaching experience</span></li>
<li><span>At least 5 International Research paper publications.</span></li>
</ul>
<h5>Responsibilities</h5>
<ul>
<li><span>The Editor oversees the mission and scope of the journal in consultation with thepublisher.</span></li>
<li><span>Read content and correct spelling, punctuation, and grammatical errors.</span></li>
<li><span>Rewrite the text to make it easier for readers to understand.</span></li>
<li><span>Verify facts cited in material for publication.</span></li>
<li><span>Ensures that the journal follows customary ethical policies for scholarly publishing.</span></li>
<li><span>Evaluate submissions from writers to decide what to publish.</span></li>
<li><span>Seek opportunities to promote the journal</span></li>
<li><span>Work with writers to help their ideas and stories succeed.</span></li>
<li><span>Develop story and content ideas according to the publication’s style and editorial policy.</span></li>
<li><span>Allocate space for the text, photos, and illustrations that make up a story or content.</span></li>
<li><span>Approve final versions submitted by staff.</span></li>
</ul>
<h5>Benefits</h5>
<ul>
<li><span>Enhance your academic influence and enrich your resume.</span></li>
<li><span>Receive a Certificate for acknowledging your contributions to the journal.</span></li>
<li><span>Get your name listed on the journal website.</span></li>
<li><span>Get access to the latest research in advance as well as the most relevant contacts in your field.</span></li>
<li><span>Get to know other scholars in your field and broaden academic connectivity.</span></li>
</ul>
<h4>Section Editor</h4>
<h5>Eligibility</h5>
<ul>
<li><span>Full-time faculty at a university or academic institution.</span></li>
<li><span>Have a track record of original research publications in his or her clinical interest area.</span></li>
<li><span>The section editor is expected to review 2 to 5 manuscripts per month.</span></li>
<li><span>The section editor will have approximately two weeks from the time assigned to the time the synthesis of the review is submitted to the Decision Editor for a decision.</span></li>
<li><span>Section editors must agree to a two-year commitment with the option to extend.</span></li>
</ul>
<h5>Responsibilities</h5>
<ul>
<li><span>Reports to the Managing Editor</span></li>
<li><span>Point of contact between peer reviewers, editorial team, and authors during the publication process</span></li>
<li><span>The Editor oversees the mission and scope of the journal in consultation with the  </span></li>
<li><span>The Editor may write editorials for the journal.</span></li>
<li><span>The Editor will seek opportunities to promote the journal.</span></li>
<li><span>Makes decisions, in collaboration with the editorial team, on submissions.</span></li>
</ul>
<h5>Benefits</h5>
<ul>
<li><span>Excellent opportunity to gain experience in scholarly publishing</span></li>
<li><span>Receive a Certificate for acknowledging your contributions to the journal.</span></li>
<li><span>Get your name listed on the journal website.</span></li>
<li><span>Get access to the latest research in advance as well as the most relevant contacts in your field.</span></li>
<li><span>Get to know other scholars in your field and broaden academic connectivity.</span></li>
<li><span>Enjoy special offers on Article Processing Charges.</span></li>
<li><span>Excellent opportunity to gain experience while collaborating with a team of colleagues to enhance the field by publishing quality work written by [students, etc].</span></li>
</ul>
<h4>For Guest Editors</h4>
<h5>Eligibility</h5>
<ul>
<li><span>A reviewer must hold a Ph.D. degree and should normally have an H-index above 10. Peer review of special issue papers will be conducted by eminent reviewers who are completely independent.</span></li>
<li><span>Reviewers will not be selected from the contributing authors or from among the Guest Editors.</span></li>
<li><span>Final editorial decisions on all Special/Regular Issue submissions will be decided by the Editors-in-Chief.</span></li>
</ul>
<h5>Responsibilities</h5>
<ul>
<li><span>The guest editor is responsible for ensuring the timely submission of all proposed contributions at every stage of the review and publication process.</span></li>
<li><span>A Special Issue editor is entitled to make final decisions regarding the acceptance and rejection of manuscripts.</span></li>
<li><span>The guest editor must provide authors with a preliminary editorial review of all proposed manuscripts for thematic coherence, substantive contribution, and journal format before submission.</span></li>
<li><span>The special issue requires a minimum of ten articles and you should plan accordingly.</span></li>
</ul>
<h5>Benefits</h5>
<ul>
<li><span>Improve their academic profile and mark them out as influential within your discipline</span></li>
<li><span>Guests can customize their profiles on the website according to their preferences and the Lead Guest Editor has complete freedom and flexibility.</span></li>
<li><span>Increase the visibility and impact of work published in the Special Issue.</span></li>
<li><span>Being at the forefront of scientific communication</span></li>
<li><span>You will be given a certification for handling Special Issue and you will also be entitled to get Scientific Credits.</span></li>
</ul>
<h4>For Reviewers</h4>
<h5>Eligibility</h5>
<ul>
<li><span>Being a peer reviewer opens doors to incredible opportunities</span></li>
<li><span>Peer review services will enhance your knowledge of professional standards and quickly earn the respect of your peers.</span></li>
<li><span>Certificate will be provided to the Reviewers for their contribution to the journal.</span></li>
<li><span>Reviewers’ names will be listed on the journal website.</span></li>
<li><span>Enjoy special offers on Article Processing Charges if you want to publish your papers in the journal.</span></li>
</ul>
<h5>Responsibilities</h5>
<ul>
<li><span>Review 2-3 manuscripts a year.</span></li>
<li><span>Return the review results within 2-3 weeks.</span></li>
<li><span>Provide complete and detailed comments on submitted papers.</span></li>
<li><span>Serve a two-year term and may be re-appointed for another term.</span></li>
</ul>
<h5>Benefits</h5>
<ul>
<li><span>Ph.D. /Master’s Degree and proven experience in the current and developing field of science.</span></li>
<li><span>Must have at least 2/5 years of experience in a specific area of Science after earning the Ph.D./Master’s Degree.</span></li>
<li><span>Minimum 10+ years of teaching experience.</span></li>
<li><span>Publication of at least 5 international research papers.</span></li>
</ul>